#titulo{
    max-width: 150px;
}
.view{
    display: inline-block;
    width: 100%;
}
.livro{
    width: 100%;
    height: 80%;   
    
}
.list{
    margin-bottom: 60px;
}
.capa-livro{
    margin-top: 5px;
    width: 100%;
    height: 70%;
}